// color ///////
$color-primary: #d57227;
$color-secondary: #007bff;
$color-b: Black;
$color-w: White;
$color-darkgrey: #515151;
$color-lightgrey: #a0a0a0;
$bg-color: #040c14;
$color-grey: #979797;

html,
body {
  overflow-x: hidden;
}
body {
  width: 100%;
}

@font-face {
  font-family: Open Sans;
}

.w {
  color: $color-w;
}
.b {
  color: $color-b;
}
.d-grey {
  color: $color-darkgrey;
}
.l-grey {
  color: $color-lightgrey;
}
.primary {
  color: $color-secondary;
}

.featureText {
  color: $color-grey;
}

.sec {
  position: relative;
  z-index: 1;
  max-width: 1440px;
  margin: 0 auto;
  padding: 8rem 0;

  &-heroDev {
    position: relative;
    z-index: 1;
    padding: 2rem 0 6rem 0;
    max-width: 1440px;
    margin: 0 auto;
  }

  &-hero {
    position: relative;
    z-index: 1;
    padding: 5rem 0;
    max-width: 1440px;
    margin: 0 auto;
  }
  &-lg {
    position: relative;
    z-index: 1;
    max-width: 1440px;
    margin: 0 auto;
    padding: 4rem 0 4rem;
  }
  &-footer {
    position: relative;
    z-index: 1;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0.75rem;
  }
  &-outer {
    z-index: 1;
    position: relative;
    width: 100%;
  }
  &-gridBg {
    background: url(../../images/home/gridBg.svg);
  }
  &-heroBg {
    background: linear-gradient(
      88.4deg,
      rgba(247, 249, 255, 0.4) 4.22%,
      rgba(227, 235, 255, 0.4) 35.74%,
      rgba(245, 207, 226, 0.4) 71.03%,
      rgba(251, 249, 250, 0.4) 94.55%
    );
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 0;
  }
  &-nogap {
    padding: 0;
    margin: 0;
  }
}

body {
  font-family: Open sans, Helvetica, sans-serif;
}

h2 {
  font-size: 2.4rem;
  font-style: normal;
  font-stretch: normal;
  line-height: 120%;
  letter-spacing: 0.4px;
  margin: 0;
}
/* page title */
h3 {
  font-size: 1.9rem;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: 0.2px;
}
/* content title */
h4 {
  font-size: 1.4rem;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: 0.5px;
}
h5 {
  font-size: 1rem;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.23;
  letter-spacing: 0.2px;
}
p {
  margin: 0 !important;
}
a:hover {
  text-decoration: none;
}

.product-bullet {
  padding: 0;
  li {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    list-style: none;
  }
}

.content {
  &-exsmall {
    font-size: 0.675rem;
  }
  &-small {
    font-size: 0.875rem;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.52;
    letter-spacing: 0.4px;
  }
  &-medium {
    font-size: 1rem;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: 0.36px;
  }
  &-medium-title {
    font-size: 1.5rem;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.9;
    letter-spacing: 0.4px;
  }
  &-large {
    font-size: 2.25rem;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.42;
    letter-spacing: 0.4px;
  }
}

//fontweight
.font-w {
  &-thin {
    font-weight: 200;
  }
  &-light {
    font-weight: 300;
  }
  &-normal {
    font-weight: normal;
  }
  &-medium {
    font-weight: 500;
  }
  &-semibold {
    font-weight: 550;
  }
  &-bold {
    font-weight: 650;
  }
  &-extrabold {
    font-weight: 800;
  }
  &-extrabolditalic {
    font-weight: 800;
    font-style: italic;
  }
}

// SPACING
.space {
  &-top {
    &-exsmall {
      margin-top: 1.5rem;
    }
    &-small {
      margin-top: 2.5rem;
    }
    &-medium {
      margin-top: 3.5rem;
    }
    &-large {
      margin-top: 4rem;
    }
  }
  &-bottom {
    &-exsmall {
      margin-bottom: 1.5rem;
    }
    &-small {
      margin-bottom: 2.5rem;
    }
    &-medium {
      margin-bottom: 3.5rem;
    }
    &-large {
      margin-bottom: 4rem;
    }
  }
  &-both {
    &-exsmall {
      margin: 1.5rem 0rem;
    }
    &-small {
      margin: 2.5rem 0rem;
    }
    &-medium {
      margin: 3.5rem 0rem;
    }
    &-large {
      margin: 4rem 0rem;
    }
  }
}

.btn-celer {
  background-color: $color-secondary !important;
  padding: 0.5rem 1.5rem;
  border-radius: 0.5rem;
  color: white !important;
  &:hover {
    text-decoration: none;
    color: white;
    background-color: #3a8af7 !important;
  }
  &-ghost {
    border: 0.1rem #3a8af7 solid;
    border-radius: 0.5rem;
    background-color: transparent;
    color: #3a8af7;
    font-weight: 600;
    &:hover {
      background-color: #3a8af7;
      color: white;
    }
  }
}

// tab
.tab-celer {
  display: block;
  padding: 0.5rem 6rem;
  font-weight: 550;
  @media (max-width: 991.98px) {
    padding: 0.5rem 1rem;
  }
}

.tab-celer.active {
  border-bottom: 4px solid $color-primary;
}

.imgSize {
  &-exsmall {
    width: 6rem;
    display: block;
  }
  &-small {
    width: 10rem;
    display: block;
  }
  &-large {
    width: 24rem;
    display: block;
  }
  &-banner_side {
    width: 90%;
    display: block;
  }
}

@media (max-width: 991.98px) {
  .mobile-hide {
    display: none;
  }

  // .imgSize {
  //   display: block;
  //   &-small {
  //     width: 3rem;
  //   }
  //   &-medium {
  //     width: 8rem;
  //   }
  //   &-large {
  //     width: 12rem;
  //   }
  //   &-full {
  //     width: 100%;
  //   }
  // }
  .sec {
    position: relative;
    max-width: 1440px;
    margin: 0 auto;
    padding: 8rem 0;

    &-hero {
      position: relative;
      padding: 6rem 0 0.8rem 0;
      max-width: 1440px;
      margin: 0 auto;
    }
    &-lg {
      position: relative;
      max-width: 1440px;
      margin: 0 auto;
      padding: 0.8rem 0 0.8rem 0;
    }
    &-footer {
      position: relative;
      max-width: 1440px;
      margin: 0 auto;
      padding: 6rem 0 2rem 0;
    }
    &-outer {
      width: 100%;
    }
  }
  .statsInfo {
    font-size: 1.4rem;
  }
  h2 {
    font-size: 1.8rem;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.21;
    letter-spacing: 0.4px;
    margin: 0;
  }
  /* page title */
  h3 {
    font-size: 1.4rem;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: 0.2px;
  }
  /* content title */
  h4 {
    font-size: 1.4rem;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: 0.5px;
  }

  .content {
    &-exsmall {
      font-size: 0.675rem;
    }
    &-small {
      font-size: 0.875rem;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.52;
      letter-spacing: 0.4px;
    }
    &-medium {
      font-size: 0.875rem;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.71;
      letter-spacing: 0.36px;
    }
    &-medium-title {
      font-size: 1rem;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.9;
      letter-spacing: 0.4px;
    }
    &-large {
      font-size: 2.25rem;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.42;
      letter-spacing: 0.4px;
    }
  }
}

ol {
  counter-reset: my-awesome-counter;
  list-style: none;
  padding-left: 40px;
}
ol li {
  margin: 2rem 0 0.5rem 0;
  counter-increment: my-awesome-counter;
  position: relative;
  font-weight: 600;
  color: $color-lightgrey;
}
ol li::before {
  content: counter(my-awesome-counter);
  color: white;
  font-size: 0.8rem;
  font-weight: bold;
  position: absolute;
  --size: 24px;
  left: calc(-1 * var(--size) - 10px);
  line-height: var(--size);
  width: var(--size);
  height: var(--size);
  top: 0;
  background: black;
  border-radius: 50%;
  text-align: center;
}

//card
.card {
  margin-left: 8px !important;
  margin-right: 8px !important;
  border-radius: 16px !important;
  &-img {
    border-radius: 16px !important;
    &-top {
      border-radius: 16px !important;
    }
  }
  &-title {
    font-weight: 800 !important;
    color: black !important;
    margin-bottom: 0.25rem !important;
  }
  &-text {
    color: $color-darkgrey !important;
    font-weight: 600 !important;
    font-size: 12px;
  }
  &-footer {
    padding: 0.25rem !important;
  }
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}
