.modalContainer {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.6);
  display: none;

  &Active {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.6);
    display: block;
  }
}
.modalInner {
  width: 400px;
  height: 400px;
  border-radius: 32px;
  background: white;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.modalClose {
  position: absolute;
  right: 16px;
  top: 16px;
  color: #a0a0a0;
  cursor: pointer;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 0.4s;
  animation-name: fade;
  animation-duration: 0.4s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.slideDown {
  -webkit-animation-name: slideDown;
  -webkit-animation-duration: 0.4s;
  animation-name: slideDown;
  animation-duration: 0.4s;
}

@-webkit-keyframes slideDown {
  from {
    top: 47%;
  }
  to {
    top: 50%;
  }
}

@keyframes slideDown {
  from {
    top: 47%;
  }
  to {
    top: 50%;
  }
}
