.invitewebcopy2 {
  width: 100%;
  min-width: 414px;
  height: 100vh;
  min-height: 1034px;
  position: relative;
  overflow: hidden;
  margin: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(255, 255, 255, 1);
  opacity: 1;
}
a {
  text-decoration: none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width: 100%;
}
.anima-full-height-a {
  height: 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.invitewebcopy2 .rectanglecopy14 {
  background-color: rgba(227, 148, 148, 1);
  top: -166px;
  height: 159px;
  width: 8px;
  position: absolute;
  margin: 0;
  left: 346px;
  transform: rotate(-270deg);
  opacity: 1;
}
.invitewebcopy2 .globalbg {
  background-color: rgba(255, 255, 255, 0);
  top: 0px;
  height: 1447px;
  width: 414px;
  position: absolute;
  margin: 0;
  left: 0px;
  transform: rotate(0deg);
  opacity: 1;
}
.invitewebcopy2 .globalbg .rectangle1 {
  background-color: rgba(255, 255, 255, 0);
  top: 0px;
  height: 1447px;
  width: 414px;
  position: absolute;
  margin: 0;
  left: 0px;
  transform: rotate(0deg);
  opacity: 1;
}
.invitewebcopy2 .oval {
  background-color: rgba(255, 255, 255, 0);
  top: 54px;
  height: 56px;
  width: 56px;
  position: absolute;
  margin: 0;
  left: 24px;
  transform: rotate(0deg);
  opacity: 1;
  border-radius: 28px;
}
.invitewebcopy2 .u21b3title {
  background-color: rgba(255, 255, 255, 0);
  top: 58px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 92px;
  transform: rotate(0deg);
  opacity: 1;
  font-family: "Helvetica", Helvetica, Arial, serif;
  font-size: 20px;
  color: rgba(255, 255, 255, 1);
  text-align: left;
  letter-spacing: 0.35px;
  line-height: 22px;
  font-weight: bolder;
  font-style: italic;
  text-shadow: 0 1px 0 #000;
}
.invitewebcopy2 .group4 {
  background-color: rgba(255, 255, 255, 0);
  top: 289px;
  height: 60px;
  width: 181px;
  position: absolute;
  margin: 0;
  left: 115px;
  transform: rotate(0deg);
  opacity: 1;
}
.invitewebcopy2 .group4 .arcadewin {
  background-color: rgba(255, 255, 255, 0);
  top: 8px;
  height: auto;
  width: auto;
  position: absolute;
  margin-right: -100px;
  left: 66px;
  transform: rotate(0deg);
  opacity: 1;
  font-family: "Helvetica", Helvetica, Arial, serif;
  font-size: 20px;
  color: rgba(255, 255, 255, 1);
  text-align: left;
  letter-spacing: 0.35px;
  line-height: 22px;
  font-weight: bolder;
  font-style: italic;
  text-shadow: 0 1px 0 #000;
}
.invitewebcopy2 .group4 .playforcashud83dudcb5 {
  background-color: rgba(255, 255, 255, 0);
  top: 30px;
  height: auto;
  width: auto;
  position: absolute;
  margin-right: -100px;
  left: 66px;
  transform: rotate(0deg);
  opacity: 1;
  font-family: "Helvetica", Helvetica, Arial, serif;
  font-size: 14px;
  color: rgba(255, 255, 255, 1);
  text-align: left;
  letter-spacing: 0.25px;
  line-height: 22px;
  font-weight: bolder;
  font-style: italic;
}
.invitewebcopy2 .group4 .playforcashud83dudcb5 .span1 {
}
.invitewebcopy2 .group4 .playforcashud83dudcb5 .span2 {
  font-family: "AppleColorEmoji", Helvetica, Arial, serif;
}
.invitewebcopy2 .group4 .rectangle1 {
  background-color: rgba(255, 255, 255, 0);
  top: 0px;
  height: 60px;
  width: 60px;
  position: absolute;
  margin: 0;
  left: 0px;
  transform: rotate(0deg);
  opacity: 1;
  border-radius: 12px;
}
.invitewebcopy2 .group2 {
  background-color: rgba(255, 255, 255, 0);
  top: 116px;
  height: 89px;
  width: 367px;
  position: absolute;
  margin: 0;
  left: 24px;
  transform: rotate(0deg);
  opacity: 1;
}
.invitewebcopy2 .group2 .combinedshape1 {
  background-color: rgba(255, 255, 255, 0);
  top: 0px;
  height: 89px;
  width: 367px;
  position: absolute;
  margin: 0;
  left: 0px;
  transform: rotate(0deg);
  opacity: 1;
}
.invitewebcopy2 .group2 .wincashwithmein {
  background-color: rgba(255, 255, 255, 0);
  top: 28px;
  height: auto;
  width: 334px;
  position: absolute;
  margin: 0;
  left: 16px;
  transform: rotate(0deg);
  opacity: 1;
  font-family: "Helvetica", Helvetica, Arial, serif;
  font-size: 14px;
  color: rgba(0, 0, 0, 1);
  text-align: left;
  letter-spacing: 0.25px;
  line-height: 14px;
}
.invitewebcopy2 .group2 .wincashwithmein .span1 {
}
.invitewebcopy2 .group2 .wincashwithmein .span2 {
  color: rgba(30, 211, 109, 1);
}
.invitewebcopy2 .group2 .wincashwithmein .span3 {
}
.invitewebcopy2 .combinedshape {
  background-color: rgba(255, 255, 255, 0);
  top: 621px;
  height: 225px;
  width: 367px;
  position: absolute;
  margin: 0;
  left: 25px;
  transform: rotate(0deg);
  opacity: 1;
}
.invitewebcopy2 .groupcopy {
  background-color: rgba(255, 255, 255, 0);
  top: 621px;
  height: 223px;
  width: 365px;
  position: absolute;
  margin: 0;
  left: 25px;
  transform: rotate(0deg);
  opacity: 1;
}
.invitewebcopy2 .groupcopy .groupcopy1 {
  background-color: rgba(255, 255, 255, 0);
  top: 0px;
  height: 223px;
  width: 365px;
  position: absolute;
  margin: 0;
  left: 0px;
  transform: rotate(0deg);
  opacity: 1;
}
.invitewebcopy2 .barsstatusbariphonexonlight {
  background-color: rgba(255, 255, 255, 0);
  top: 0px;
  height: 44px;
  width: 414px;
  position: absolute;
  margin: 0;
  left: 0px;
  overflow: hidden;
  transform: rotate(0deg);
  opacity: 1;
}
.invitewebcopy2 .barsstatusbariphonexonlight .background {
  background-color: rgba(255, 255, 255, 0);
  top: 0px;
  height: 44px;
  width: 414px;
  position: absolute;
  margin: 0;
  left: 0px;
  transform: rotate(0deg);
  opacity: 1;
}
.invitewebcopy2 .barsstatusbariphonexonlight .battery {
  background-color: rgba(255, 255, 255, 0);
  top: 17px;
  height: 12px;
  width: 25px;
  position: absolute;
  margin: 0;
  left: 375px;
  transform: rotate(0deg);
  opacity: 1;
}
.invitewebcopy2 .barsstatusbariphonexonlight .battery .border {
  background-color: rgba(255, 255, 255, 0);
  top: 0px;
  height: 12px;
  box-sizing: border-box;
  width: 23px;
  position: absolute;
  margin: 0;
  left: 0px;
  border-radius: 2px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(255, 255, 255, 1);
  transform: rotate(0deg);
  opacity: 0.35;
}
.invitewebcopy2 .barsstatusbariphonexonlight .battery .cap {
  background-color: rgba(255, 255, 255, 0);
  top: 4px;
  height: 4px;
  width: 1px;
  position: absolute;
  margin: 0;
  left: 23px;
  transform: rotate(0deg);
  opacity: 0.4;
}
.invitewebcopy2 .barsstatusbariphonexonlight .battery .capacity {
  background-color: rgba(255, 255, 255, 1);
  top: 2px;
  height: 7px;
  width: 18px;
  position: absolute;
  margin: 0;
  left: 2px;
  border-radius: 1px;
  transform: rotate(0deg);
  opacity: 1;
}
.invitewebcopy2 .barsstatusbariphonexonlight .wifi {
  background-color: rgba(255, 255, 255, 0);
  top: 17px;
  height: 11px;
  width: 15px;
  position: absolute;
  margin: 0;
  left: 355px;
  transform: rotate(0deg);
  opacity: 1;
}
.invitewebcopy2 .barsstatusbariphonexonlight .cellularconnection {
  background-color: rgba(255, 255, 255, 0);
  top: 18px;
  height: 11px;
  width: 17px;
  position: absolute;
  margin: 0;
  left: 333px;
  transform: rotate(0deg);
  opacity: 1;
}
.invitewebcopy2
  .barsstatusbariphonexonlight
  .timestyle261261261261e8dd17a5a8734042976d75bf3ab92e13 {
  background-color: rgba(255, 255, 255, 0);
  top: 7px;
  height: 21px;
  width: 54px;
  position: absolute;
  margin: 0;
  left: 21px;
  overflow: hidden;
  transform: rotate(0deg);
  opacity: 1;
}
.invitewebcopy2
  .barsstatusbariphonexonlight
  .timestyle261261261261e8dd17a5a8734042976d75bf3ab92e13
  .background1 {
  background-color: rgba(255, 255, 255, 0);
  top: 0px;
  height: 21px;
  width: 54px;
  position: absolute;
  margin: 0;
  left: 0px;
  transform: rotate(0deg);
  opacity: 1;
}
.invitewebcopy2
  .barsstatusbariphonexonlight
  .timestyle261261261261e8dd17a5a8734042976d75bf3ab92e13
  .time {
  background-color: rgba(255, 255, 255, 0);
  top: 7px;
  height: auto;
  width: 54px;
  position: absolute;
  margin: 0;
  left: 0px;
  transform: rotate(0deg);
  opacity: 1;
  font-family: "Helvetica", Helvetica, Arial, serif;
  font-size: 15px;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  letter-spacing: -0.3px;
  line-height: 18px;
}
.invitewebcopy2 .group3 {
  background-color: rgba(255, 255, 255, 0);
  top: 561px;
  height: 52px;
  width: 354px;
  position: absolute;
  margin: 0;
  left: 30px;
  transform: rotate(0deg);
  opacity: 1;
}
.invitewebcopy2 .group3 .group4copy2 {
  background-color: rgba(255, 255, 255, 0);
  top: 0px;
  height: 52px;
  width: 354px;
  position: absolute;
  margin: 0;
  left: 0px;
  transform: rotate(0deg);
  opacity: 1;
}
.invitewebcopy2 .group3 .group4copy2 .rectanglecopy6 {
  background-color: rgba(255, 255, 255, 0);
  top: 0px;
  height: 52px;
  width: 354px;
  position: absolute;
  margin: 0;
  left: 0px;
  transform: rotate(0deg);
  opacity: 1;
}
.invitewebcopy2 .group3 .group4copy2 .xxcc88 {
  background-color: rgba(255, 255, 255, 0);
  top: 17px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 19px;
  transform: rotate(0deg);
  opacity: 1;
  font-family: "Helvetica", Helvetica, Arial, serif;
  font-size: 16px;
  color: rgba(255, 255, 255, 1);
  text-align: left;
  letter-spacing: 0.28px;
  line-height: 18px;
}
.invitewebcopy2 .group3 .group {
  background-color: rgba(255, 255, 255, 0);
  top: 14px;
  height: 24px;
  width: 68px;
  position: absolute;
  margin: 0;
  left: 272px;
  transform: rotate(0deg);
  opacity: 1;
}
.invitewebcopy2 .group3 .group .rectangle1 {
  background-color: rgba(0, 0, 0, 0.5);
  top: 0px;
  height: 24px;
  width: 68px;
  position: absolute;
  margin: 0;
  left: 0px;
  border-radius: 4px;
  transform: rotate(0deg);
  opacity: 1;
}
.invitewebcopy2 .group3 .group .copy {
  background-color: rgba(255, 255, 255, 0);
  top: 6px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 18px;
  transform: rotate(0deg);
  opacity: 1;
  font-family: "Helvetica", Helvetica, Arial, serif;
  font-size: 10px;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  letter-spacing: 0.18px;
  line-height: 12px;
}
.invitewebcopy2 .btnsinglelg {
  background-color: rgba(255, 255, 255, 0);
  top: 373px;
  height: 60px;
  width: 164px;
  position: absolute;
  margin: 0;
  left: 125px;
  transform: rotate(0deg);
  opacity: 1;
}
.invitewebcopy2 .btnsinglelg .rectanglecopy6 {
  background-color: rgba(255, 255, 255, 0);
  top: 0px;
  height: 60px;
  width: 164px;
  position: absolute;
  margin: 0;
  left: 0px;
  transform: rotate(0deg);
  opacity: 1;
}
.invitewebcopy2 .btnsinglelg .oval1 {
  background-color: rgba(255, 255, 255, 0);
  top: 9px;
  height: 6px;
  width: 14px;
  position: absolute;
  margin: 0;
  left: 5px;
  transform: rotate(-45deg);
  opacity: 1;
}
.invitewebcopy2 .btnsinglelg .next {
  background-color: rgba(255, 255, 255, 0);
  top: 18px;
  height: auto;
  width: 160px;
  position: absolute;
  margin: 0;
  left: 2px;
  transform: rotate(0deg);
  opacity: 1;
  font-family: "Helvetica", Helvetica, Arial, serif;
  font-size: 18px;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  letter-spacing: -0.43px;
  line-height: 22px;
}
.invitewebcopy2 .apkbutton {
  background-color: rgba(255, 255, 255, 0);
  top: 455px;
  height: 24px;
  width: 83px;
  position: absolute;
  margin: 0;
  left: 211px;
  transform: rotate(0deg);
  opacity: 1;
}
.invitewebcopy2 .ios {
  background-color: rgba(255, 255, 255, 0);
  top: 455px;
  height: 24px;
  width: 83px;
  position: absolute;
  margin: 0;
  left: 120px;
  transform: rotate(0deg);
  opacity: 1;
}
.invitewebcopy2 .globalpagesectionbarfoldcopy2 {
  background-color: rgba(255, 255, 255, 0);
  top: 227px;
  height: 36px;
  width: 414px;
  position: absolute;
  margin: 0;
  left: 0px;
  transform: rotate(0deg);
  opacity: 1;
}
.invitewebcopy2 .globalpagesectionbarfoldcopy2 .group17copy3 {
  background-color: rgba(255, 255, 255, 0);
  top: 0px;
  height: 36px;
  width: 414px;
  position: relative;
  margin: 0;
  left: 0px;
  transform: rotate(0deg);
  opacity: 1;
}
.invitewebcopy2 .globalpagesectionbarfoldcopy2 .group17copy3 .rectangle1 {
  background-color: rgba(255, 255, 255, 0);
  top: 0px;
  height: 36px;
  width: 414px;
  position: absolute;
  margin: 0;
  left: 0px;
  transform: rotate(0deg);
  opacity: 1;
}
.invitewebcopy2 .globalpagesectionbarfoldcopy2 .group17copy3 .step1downloadthe {
  background-color: rgba(255, 255, 255, 0);
  top: 11px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 16px;
  transform: rotate(0deg);
  opacity: 1;
  font-family: "Helvetica", Helvetica, Arial, serif;
  font-size: 14px;
  color: rgba(255, 255, 255, 1);
  text-align: left;
  letter-spacing: 0.25px;
  line-height: 14px;
}
.invitewebcopy2 .globalpagesectionbarfoldcopy3 {
  background-color: rgba(255, 255, 255, 0);
  top: 503px;
  height: 36px;
  width: 414px;
  position: absolute;
  margin: 0;
  left: 0px;
  transform: rotate(0deg);
  opacity: 1;
}
.invitewebcopy2 .globalpagesectionbarfoldcopy3 .group17copy3 {
  background-color: rgba(255, 255, 255, 0);
  top: 0px;
  height: 36px;
  width: 414px;
  position: relative;
  margin: 0;
  left: 0px;
  transform: rotate(0deg);
  opacity: 1;
}
.invitewebcopy2 .globalpagesectionbarfoldcopy3 .group17copy3 .rectangle1 {
  background-color: rgba(255, 255, 255, 0);
  top: 0px;
  height: 36px;
  width: 414px;
  position: absolute;
  margin: 0;
  left: 0px;
  transform: rotate(0deg);
  opacity: 1;
}
.invitewebcopy2 .globalpagesectionbarfoldcopy3 .group17copy3 .tournaments {
  background-color: rgba(255, 255, 255, 0);
  top: 12px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 16px;
  transform: rotate(0deg);
  opacity: 1;
  font-family: "Helvetica", Helvetica, Arial, serif;
  font-size: 14px;
  color: rgba(255, 255, 255, 1);
  text-align: left;
  letter-spacing: 0.25px;
  line-height: 14px;
}
.invitewebcopy2 .group5 {
  background-color: rgba(255, 255, 255, 0);
  top: 866px;
  height: 170px;
  width: 422px;
  position: absolute;
  margin: 0;
  left: -4px;
  transform: rotate(0deg);
  opacity: 1;
}
.invitewebcopy2 .group5 .rectangle1 {
  background-color: rgba(255, 255, 255, 0);
  top: 0px;
  height: 170px;
  width: 422px;
  position: absolute;
  margin: 0;
  left: 0px;
  transform: rotate(0deg);
  opacity: 1;
}
.invitewebcopy2 .group5 .a285converted1 {
  background-color: rgba(255, 255, 255, 0);
  top: 0px;
  height: 170px;
  width: 422px;
  position: absolute;
  margin: 0;
  left: 0px;
  overflow: hidden;
  transform: rotate(0deg);
  opacity: 1;
}
.invitewebcopy2 .group5 .a285converted1 .mask {
  background-color: rgba(255, 255, 255, 0);
  top: 0px;
  height: 170px;
  width: 422px;
  position: absolute;
  margin: 0;
  left: 0px;
  transform: rotate(0deg);
  opacity: 1;
}
.invitewebcopy2 .group5 .a285converted1 .a285converted11 {
  background-color: rgba(255, 255, 255, 0);
  top: 30px;
  height: 277px;
  width: 280px;
  position: absolute;
  margin: 0;
  left: 268px;
  transform: rotate(5deg);
  opacity: 1;
}
.invitewebcopy2 .group5 .celerxisarealmon {
  background-color: rgba(255, 255, 255, 0);
  top: 57px;
  height: auto;
  width: 273px;
  position: absolute;
  margin: 0;
  left: 20px;
  transform: rotate(0deg);
  opacity: 1;
  font-family: "Helvetica", Helvetica, Arial, serif;
  font-size: 12px;
  color: rgba(255, 255, 255, 1);
  text-align: left;
  letter-spacing: 0.21px;
  line-height: 14px;
}
.invitewebcopy2 .group5 .whatiscelerx {
  background-color: rgba(255, 255, 255, 0);
  top: 22px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 20px;
  transform: rotate(0deg);
  opacity: 1;
  font-family: "Helvetica", Helvetica, Arial, serif;
  font-size: 20px;
  color: rgba(255, 255, 255, 1);
  text-align: left;
  letter-spacing: 0.35px;
  line-height: 24px;
}
.invitewebcopy2 .group5 .screenshot20200622at42226pm {
  background-color: rgba(255, 255, 255, 0);
  top: 123px;
  height: 27px;
  width: 97px;
  position: absolute;
  margin: 0;
  left: 7px;
  transform: rotate(0deg);
  opacity: 1;
}
.invitewebcopy2 .rectangle {
  background-color: rgba(255, 255, 255, 0);
  top: 807px;
  height: 19px;
  box-sizing: border-box;
  width: 145px;
  position: absolute;
  margin: 0;
  left: 213px;
  border-radius: 2px;
  border-style: solid;
  border-width: 3px;
  border-color: rgba(254, 187, 54, 1);
  transform: rotate(0deg);
  opacity: 1;
}
.invitewebcopy2 .entertheinvitecod {
  background-color: rgba(255, 255, 255, 0);
  top: 733px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 41px;
  transform: rotate(0deg);
  opacity: 1;
  font-family: "Helvetica", Helvetica, Arial, serif;
  font-size: 12px;
  color: rgba(0, 0, 0, 1);
  text-align: left;
  letter-spacing: 0.21px;
  line-height: 14px;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity: 0;
  display: block;
  -webkit-animation: anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation: anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation: anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation: anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity: 1;
  display: block;
  -webkit-animation: anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation: anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation: anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation: anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay: 0;
  animation-delay: 0;
}
@-webkit-keyframes anima-reveal {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@-moz-keyframes anima-reveal {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@-o-keyframes anima-reveal {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@keyframes anima-reveal {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
.anima-component-wrapper,
.anima-component-wrapper * {
  pointer-events: none;
}
.anima-component-wrapper a *,
.anima-component-wrapper a,
.anima-component-wrapper input,
.anima-component-wrapper video,
.anima-component-wrapper iframe,
.anima-listeners-active,
.anima-listeners-active * {
  pointer-events: auto;
}
.anima-hidden,
.anima-hidden * {
  visibility: hidden;
  pointer-events: none;
}
.anima-smart-layers-pointers,
.anima-smart-layers-pointers * {
  pointer-events: auto;
  visibility: visible;
}
.anima-component-wrapper.anima-not-ready,
.anima-component-wrapper.anima-not-ready * {
  visibility: hidden !important;
}
.anima-listeners-active-click,
.anima-listeners-active-click * {
  cursor: pointer;
}
.anima-word-break {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
  word-break: break-word;
}
img {
  pointer-events: none; /* 禁止长按图片保存 */
}
